<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>number</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script>
      function q1() {
        let target_num = $('#magicnum').val();

        if (target_num == '') {
          alert('숫자를 입력하세요');
          return;
        }

        let target_url = 'http://numbersapi.com/'+target_num;
        $.ajax({
          type: "GET",
          url: target_url,
          data: {},
          success: function(response){
              $("#meaning").text(response);
            }
        })
      }
    </script>

  </head>
  <body>

    <div class="question-box">
      <p>모든 숫자는 어떤 의미가 있습니다. 함께 살펴볼까요?</p>
      <input type="number" id="magicnum">
      <button onclick="q1()">이 숫자의 의미는?</button>
      <h5 id="meaning"></h5>
    </div>
  </body>
</html>
